.posts {

  .list ul {
    list-style: none;
    margin-top: 20px;

    li {
      margin-bottom: 20px;
      display: flex;
      align-items: flex-start;

      time {
        flex-shrink: 0;
        font-size: 14px;
        color: #666;
        margin-right: 10px;
      }

      a {
        text-decoration: none;
        color: #0070f3;

        & a:visited {
          color: #0070f3;
        }
      }
    }
  }

}