.defalut-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.main,
footer {
  width: 800px;
  margin: 20px auto;
}

.header {

  display: flex;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      margin-right: 20px;

      a {
        text-decoration: none;
        color: #0070f3;

        &:visited {
          color: #0070f3;
        }
      }
    }
  }

  .tool-box {
    display: flex;
    align-items: center;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.main {
  flex: 1;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
}