* {
	margin: 0;
	padding: 0;
}

body {
	/* font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif; */
}

:root {
	--border-color: #e5e5e5;
	--accent-color: #0066cc;
	--bg-secondary: #ffffff;
	--shadow: rgba(0, 0, 0, 0.05);
	--text-primary: #333333;
	--text-secondary: #666666;
	--text-tertiary: #999999;
	--tag-bg: #f0f0f0;
	--tag-text: #333333;
	--icon-filter: none;
}

:root.dark {
	--border-color: #333333;
	--accent-color: #66b3ff;
	--bg-secondary: #1a1a1a;
	--shadow: rgba(255, 255, 255, 0.05);
	--text-primary: #e5e5e5;
	--text-secondary: #b3b3b3;
	--text-tertiary: #808080;
	--tag-bg: #2a2a2a;
	--tag-text: #e5e5e5;
	--icon-filter: invert(1);
}

.page-h1 {
	font-size: 2rem;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 12px;
}